.parentContainerDiv {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999999999;
    top: 0;
}

.contentContainerDiv {
    position: fixed;
    top: 50px;
    width: 80%;
    height: 850px;
    box-sizing: border-box !important;
    background: #E8E8C1 !important;
    left: 50%;
    margin-left: -40%;
    border: 2px solid #E8E8C1;
}

.textArea {
    width: 100% !important;
    height: 99.5% !important;
    border: 0 !important;
    box-sizing: border-box !important;
    background: #f5f5dc !important;
    padding: 0 !important;
    font-family: sans-serif !important;
    font-size: 14px !important;
    resize: none !important;
}

.textArea:focus {
    outline: none !important;
}

.textAreaDiv {
    box-sizing: border-box !important;
    padding: 0 !important;
    padding-top: 10px !important;
    top: 45px;
    height: 800px;
    position: relative;
    overflow: auto;
}

.contentContainerDiv button {
    box-sizing: border-box !important;
    padding: 4px 0px !important;
    width: 100px;
    color: #fff !important;
    border-radius: 4px !important;
    height: 35px;
    font-weight: 800 !important;
    margin-right: 10px !important;
    outline: 0 !important;
    border: 0 !important;
    font-size: 14px !important;
}

.closeBtnClass {
    background: #ff3547 !important;
}

.saveBtnClass {
    background: #579E28 !important;
}

.headerDiv {
    position: absolute;
    left: 50%;
    margin-left: -110px;
    top: 5px;
}

.showCopiedBtn {
    position: fixed;
    box-sizing: border-box !important;
    padding: 0 !important;
    top: 0;
    width: 200px !important;
    opacity: 0.7;
    font-size: 14px;
    z-index: 9999999999999;
    left: 50%;
    margin-left: -100px;
    background-color: #0079D3;
    height: 30px !important;
    font-weight: 800 !important;
    color: white !important;
    outline: blue !important;
    border: 0 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.closeBtnClass:hover {
    background: #c82333;
}

.saveBtnClass:hover {
    background: #177423;
}

.overlayDiv {
    width: 100%;
    height: 100%;
    background: lightgray;
    opacity: 0.8;
}